* {
  margin: 0;
  padding: 0;
}


html, body {
  height: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
  color: black;
  background: rgb(4, 191, 173);
  background: linear-gradient(186deg, rgb(164, 239, 224) 25%, rgb(6, 110, 112) 100%);
}

.avatar {
  width: 80px;
  border-radius: 50px;
  border: 3px solid rgb(4, 191, 173);
  box-shadow: 0 0 20px rgb(4, 191, 173);
}

h1 {
  font-family: 'Architects Daughter', cursive;
  font-weight: 100;
  font-size: 24px;
  margin-bottom: 2px;
}

h2 {
  font-size: 16px;
}

.profile {
  margin-top: 20px;
  text-align: center;
}

.social {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 20px 0;
}

.social img {
  width: 33px;
}


.links-list {
  list-style: none;
  text-align: center;
}

.links-list li {
  margin: 20px 20px;
}

.links-list li a {
  display: block;
  background: white;
  padding: 15px 20px;
  border-radius: 8px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.links-list li a.active {
  box-shadow: 0 0 20px rgb(4, 191, 173);
  color:rgb(10, 234, 204);
}

